* {
  margin: 0;
  /* background: #fff; */
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
main {
  padding-left: 16px;
  padding-right: 20px;
  margin-top: 70px;
  /* padding-top: 25px; */
  /* background: #ef8c74b5; */
  /* background: linear-gradient(
    to bottom,
    #fff 12%,
    #f0f9f9 15.74%,
    #f0f9f9 100%
  ); */
  /* height: 400vh;
  /* height: 400vh; */
}
.home-hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slideshow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;

  --bg1: url("https://images.unsplash.com/photo-1546189052-4aded951637a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
  --bg2: url("https://images.unsplash.com/photo-1513414653395-3bb68df4b2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  --bg3: url("https://images.unsplash.com/photo-1513415277900-a62401e19be4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  --bg4: url("https://images.unsplash.com/photo-1490462686240-04979237c723?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  --bg5: url("https://images.unsplash.com/photo-1571147558584-8490ea37d7a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");

  --current-bg: var(--bg1);
  --numberOfImages: 5;
  --duration: 20s;
  --fadeDuration: calc(var(--duration) / var(--numberOfImages));
  --delay-duration: calc(var(--fadeDuration) / 2);

  background-image: var(--current-bg);

  animation: changeImage var(--duration) linear infinite,
    fade var(--fadeDuration) linear infinite;
}

.slideshow2 {
  animation: changeImage var(--duration) var(--delay-duration) linear infinite,
    fade var(--fadeDuration) var(--delay-duration) linear infinite;
}

/* Animate using css custom properties */
@keyframes changeImage {
  0% {
    --current-bg: var(--bg1);
  }
  20% {
    --current-bg: var(--bg2);
  }
  40% {
    --current-bg: var(--bg3);
  }
  60% {
    --current-bg: var(--bg4);
  }
  80% {
    --current-bg: var(--bg5);
  }
  100% {
    --current-bg: var(--bg1);
  }
}

@keyframes fade {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
